body {
	background:#EEE;
	margin:0px;
}
#cadreCanvas {
	background:#DDD;
	border:1px solid #000;
	cursor:default;
	height:1000px;
	width:1000px;
}

#cadreHaut {
}

.boiteOutil {
	background:#F5F5F5;
	border:1px solid #666;
	border-radius:6px;
	box-shadow:0 0 8px 0 #777;
	margin:6px;
	padding:5px;
	width:156px;
}

#cadreMenu {
	float:left;
}
#cadreObjets {
	margin-top:-35px;
	position:fixed;
}
#cadreXML {
	margin:6px;
	text-align:center;
	margin-right:180px;
}
#batiments {
	width:980px;
}

.elementMenu {
	display:block;
	margin:6px;
	margin-left:0px;
}
.etageSol {
	width:64px;
	display:inline-block;
}

#cadreInputNombre {
	background:rgba(255,255,255,0.3);
	border-radius:6px;
	font-size:10px;
	padding:4px;
	position:absolute;
}